html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background-image: url(./assets/Images/bg.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}

.footer {
  background: #343a40;
  padding: 10px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;

}
.fullsize {
  padding-bottom: 130px;
}
.footer a {
  color: #70726f;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726f;
  transition: all 0.5s ease;
}
.footer a:first-child {
  border-left: 1px solid #70726f;
}
.footer a:hover {
  color: white;
}

.content {
  margin-bottom: 70px;
  margin-top: 70px;
}
.loader {
  margin-bottom: 100px;
  margin-top: 100px;
}
.homeImage {
  margin-bottom: 30px;
  margin-top: 30px;
}
#bottom {
  margin-top: 20px;
}
#rcorners {
  border-radius: 25px;
  background: #343a40;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#authForm {
  // background-color: #343a40;
 //margin: 0 670px 257px;
  border-radius: 50px;
  padding-bottom: 15px ;
  h3{
    color: #000;
    padding-top:25px;
  }
  button{
    margin-top: 15px;
  }
  input{
    margin: 3px;
  }

  form {
    width: 320px;
    margin: 0 auto;
  }
}
#veginas {
  width: 100%;
}
.form-content {
  width: 50%;

}
.contact-form{ margin-top:15px;}
.contact-form .textarea{ min-height:220px; resize:none;}
.form-control{ box-shadow:none; border-color:#eee; height:49px;}
.form-control:focus{ box-shadow:none; border-color:#2864b3;}
.form-control-feedback{ line-height:50px;}
.main-btn{ background:#2864b3; border-color:#2864b3; color:#fff;}
.main-btn:hover{ background:#2864b3;color:#fff;}
.form-control-feedback {
line-height: 50px;
top: 0px;
}
#about {
  padding-top: 40px;
}
.text-red {
  color: red;
}